@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900@display=swap');

{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(acnh_bg.png)
}
.button {
    background-color: #fff563; 
    border: 1px solid #fff563;
    border-radius: 12px;
    color: #ffff;
    padding: 15px 30px;
    text-align: center;
    display:inline;
    font-size: 16px;
    cursor: pointer;
  }

.list
{
    position: relative;
    background: #9dffb0;
    width: 450px;
}
.list h2
{
    background: #81f1f7;
    color: black;
    padding: 10px 20px;
    font-weight: 600;
}
.list h3
{
    font-weight: 600;
}
.list ul
{
    position: relative;
    padding: 20px;
}
.list ul li
{
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.list ul li:last-child
{
    border-bottom: none;
}
.list ul li label
{
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.list ul li label input
{
    visibility: hidden;
    appearance: none;
}
.list ul li label p
{
    position: absolute;
}
.list ul li label span
{
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #f6cd95;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul li label span:before
{
    content: '';
    position: absolute;
    top: 4px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #f6cd95;
    border-bottom: 2px solid #f6cd95;
    transform: rotate(-50deg);
}
.list ul li label input:checked ~ p
{
    text-decoration: line-through;
    color: #f6cd95;
}
.list ul li label input:checked ~ span
{
    background: #ffb34d;
    border: 1px solid #ffb34d;
}
.list ul li label input:checked ~span::before
{
    border-left: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
}
